<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoTagApp</title>
    <link rel='stylesheet' href='./stylesheets/style.css'/>
    <link rel='stylesheet' href='stylesheets/flex-grid.css'/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<header>
    <img src="./images/location.png" width="100"
         alt="an image of a map and location">
    <h1>GeoTagApp</h1>
    <nav class="nav-bar">
        <a href="#">About</a> | <a href="#">Help</a> | <a
            href="/">Home</a>
    </nav>
</header>

<main class="flex-grid">

    <section class="col-4">
        <h2>Tagging</h2>

        <!-- ############### Aufgabe1a Form1 Start -->
        <form id="tag-form" action="/tagging" method="post">
            <fieldset>
                <legend>Enter a new Geo-Tag</legend>
                <label for="tag-latitude">Latitude</label>
                <input type="text" id="tag-latitude" placeholder="49.01379" class="d-block" required>
                <label for="tag-latitude">Longitude</label>
                <input type="text" id="tag-longitude" placeholder="8.404435" class="d-block" required>
                <label for="tag-name">Name</label>
                <input type="text" id="tag-name" placeholder="Castle" class="d-block" maxlength="10" required>
                <label for="tag-hashtag">Hashtag</label>
                <input type="text" id="tag-hashtag" placeholder="#sight" class="d-block" pattern="[#].*">
                <button id="tag-submit" type="submit">submit</button>
            </fieldset>
        </form>
        <!-- ############### Aufgabe1a Form1 Ende -->

    </section>

    <section class="col-8">
        <div class="d-block">
            <h2>Discovery</h2>

            <!-- ############### Aufgabe1a Form2 Start -->
            <form id="filter-form" action="/discovery" method="post">
                <fieldset>
                    <legend>Filter by Searchterm</legend>
                    <input type="search" placeholder="Castle" id="discovery-search" name="search">
                    <input type="text" id="discovery-latitude" class="d-none">
                    <input type="text" id="discovery-longitude" class="d-none">
                    <button type="button" id="discovery-apply" onclick="">Apply</button>
                    <button type="button" id="discovery-remove" onclick="">Remove</button>
                </fieldset>
            </form>
            <!-- ############### Aufgabe1a Form2 Ende -->

            <div class="flex-grid">
                <div class="col-4">
                    <ul id="results" class="results-list">
                      <% if (taglist !== undefined) taglist.forEach(function(gtag) { %>
                        <li><%= gtag.name %> ( <%= gtag.latitude %>,<%= gtag.longitude %>) <%= gtag.hashtag %> </li>
                      <% }); %>
                    </ul>
                </div>

                <div class="tagmap col-8">
                    <img class="map" id="result-img" src="./images/mapview.jpg" alt="a map with locations"/>
                    <div class="caption">Result map</div>
                </div>
            </div>
        </div>
    </section>

</main>

<footer>
    <span>2017 by LKIT</span>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="./javascripts/geotagging.js"></script>
</body>
</html>
